In [1]:
import yfinance as yf
import pandas as pd
import json

### Question 1: Extract Tesla Stock Data Using yfinance ###

In [2]:
tesla_data = yf.download('TSLA', start='1900-01-01', end='2099-01-01')

[*********************100%***********************]  1 of 1 completed

In [3]:
tesla_df = pd.DataFrame(tesla_data)
tesla_df.reset_index(inplace=True)
tesla_df.head()

        Date      Open      High       Low     Close  Adj Close     Volume
0 2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
1 2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2 2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000
3 2010-07-02  1.533333  1.540000  1.247333  1.280000   1.280000   77097000
4 2010-07-06  1.333333  1.333333  1.055333  1.074000   1.074000  103003500

## Question 3: Extract GameStop Stock Data Using yfinance ##

In [4]:
gme_data = yf.download('GME', start='1900-01-01', end='2099-01-01')

[*********************100%***********************]  1 of 1 completed

In [5]:
gme_df = pd.DataFrame(gme_data)
gme_df.reset_index(inplace=True)
gme_df.head()

        Date     Open     High      Low    Close  Adj Close    Volume
0 2002-02-13  2.40625  2.51500  2.38125  2.51250   1.691667  76216000
1 2002-02-14  2.54375  2.54875  2.48125  2.50000   1.683251  11021600
2 2002-02-15  2.50000  2.50625  2.46250  2.48750   1.674834   8389600
3 2002-02-19  2.47500  2.47500  2.34375  2.38750   1.607504   7410400
4 2002-02-20  2.40000  2.46875  2.38125  2.46875   1.662209   6892800

## There isn't a link to webscrape from ##